<div id="header" class="row card-body rounded shadow p-2">
    <header class="p-2"><i class="bi bi-calendar px-2"></i>{10-Day Forecast}</header>
    <hr>
    <ul class="list-group m-2">
        <li class="list-group-item d-flex">
            <h5 class="fw-bold m-auto">{day}</h5>
            <i class="bi m-auto">{icon}</i>
            <h5 class="fw-bold m-auto">{low}</h5>
            <div id="progress-bg" class="progress m-auto">
                <div class="progress-bar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    {progressbar}
                </div>
            </div>
            <h5 class="fw-bold m-auto">{high}</h5>
        </li>
    </ul>
</div>