<div class="row card-body rounded shadow p-2">
    <header class="p-2"><i class="bi bi-air m-2"></i>Air Quality</header>
    <div class="p-2">
        <h4 class="mb-3">{air quality} - {rating}</h4>
        <p class="mb-3">{description}</p>
        <div id="progress-bg" class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>

    <hr>
    <a href="/air-quality/:id" class="text-decoration-none p-2">See More<i class="bi bi-caret-right ms-2"></i></a>
</div>