<div class="row card-body rounded shadow p-2">
    <header class="p-2"><i class="bi bi-thermometer-high m-2"></i>Feels Like</header>
    <div class="p-2">
        <h3 class="mb-5">{degree}</h3>
        <p class="mb-3">{description}</p>
    </div>
</div>