<footer class="d-block text-center p-3">
    <h3 class="mb-2">Weather for {location}</h3>
    <a id="acknowledgement" class="link m-3 text-decoration-none" href="https://openweathermap.com" target="_blank">Powered by Openweathermap</a>
    <h5 class="mb-3">&copy; Copyright Created By Dennis Jr. 6/26/2021</h5>
</footer>