<div class="p-3 card-body">
    <header class="pb-3 text-center">
        <h2>Location {location}</h1>
        <h4 class=""><%= date %></h4>
        <h1>Temp {temp}</h1>
        <h4>{Description}</h4>
        <div class="d-flex">
            <h4 class="m-auto">H:{high}</h4>
            <h4 class="m-auto">L:{low}</h4>
        </div>
    </header>
</div>