<div class="row card-body rounded shadow p-3">
    <header><i class="bi bi-info-circle-fill"></i><h3>Help</h3></header>
    <div class="">
        <ul class="list-item">
            <hr>
            <li class="list-item">
                <a href="/" class="">Report an Issue</a>
                <i class="bi m-auto float-end"></i>
            </li>
            <hr>
            <li class="list-item">
                <a href="/" class="">Turn on Notifications</a>
                <i class="bi bi-app-indicator float-end m-auto"></i>
            </li>
            <hr>
            <li class="list-item">
                <a href="/" class="">Open in Maps</a>
                <i class="bi bi-map float-end m-auto"></i>
            </li>
            <hr>
        </ul>
    </div>
</div>