<div id="search-area" class="row card-body rounded shadow w-100 p-2">
    <form action="/" method="POST">
        <div class="input-group">
            <input id="search-field" class="form-control p-3" name="city" type="search" placeholder="Enter City ..." required>
            <input id="search-btn" class="btn btn-dark p-3" type="submit" value="Search" id="search-btn">
        </div>
    </form>
</div>