<div class="row card-body rounded shadow p-2">
    <header class="p-2"><i class="bi bi-sun-set m-2"></i>Sunset</header>
    <div class="p-2">
        <h3 class="mb-3">{time}</h3>
        <p class="mb-3">{level}</p>
        <div class="">
            {sunset graph}
        </div>
        <p class="mt-3">{sunrise: time}</p>
    </div>
</div>