<div class="row card-body rounded shadow p-2">
    <header class="p-2"><i class="bi bi-thermometer m-2"></i>Temperature</header>
    <div class="p-2">
       
    </div>
    <hr>
    <a href="/temperature/:id" class="text-decoration-none p-2">See More<i class="bi bi-caret-right ms-2"></i></a>
</div>