<div class="row card-body rounded shadow p-2">
    <header class="p-2"><i class="bi bi-sun m-2"></i>UV Index</header>
    <div class="p-2">
        <h3 class="mb-3">{UV Index}</h3>
        <p class="mb-3">{level}</p>
        <div id="progress-bg" class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="mt-3">{decription}</p>
    </div>
</div>