* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
}
a, li {
    text-decoration: none;
    list-style: none;
}
body {
    background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#search-area {
    height: 7vh;
    width: 75vw;
    background-color: #ffffff;
}
.card-body {
    background-color: #ffffff;
    /* opacity: 0.5; */
}
#progress-bg {
    background-image: linear-gradient(90deg, #06f006 20%, #ffff00 20%, #ffa500 20%, #ff0000 20%, #ee82ee 20%);
}
/* #acknowledegment {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */